*{
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}
body{
	background-image: url(https://eser-cioara.github.io/html/HTML/confetti.gif);
	justify-content: center;
	align-items: center;
}
.contenant{
	width: 500px;
	height: 300px;
	margin-top: 40px;
	position: relative;
}
.contenant img{
	width:100%;
	height: 100%;
}
.top-image{
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	transition: all 10s ease;
}
.top-image:hover{
	opacity: 0.7;
}
